  <!-- img 1 -->
  <div id="img1" class="parallax" >
    <div class="container">
        <h1 class="bannertext"> Hi, I'm Garrett</h1>
        <h3 class="white-text opaque2">A full stack developer based in Seattle Washington. </h3>
          </div>
  </div>


  <div class="section white">
    <div class="row container" >

      <h2 class="header" > Summary </h2>
      <img id="profile_pic" class="responsive-img circle right" src="assets/images/profile_pic.jpg">        
<!-- Past -->
      <h5 class="blue-text">Past </h5>
      <p class="flow-text"> 
        I recently graduated from Coding Dojo in Seattle - where I focused mainly on developing full CRUD applications using a variety of tools. 
      </p>
      <p class="flow-text">
          In a previous life, I spent 5 years in Fintech analytics where I honed my skills in SQL, Tableau, and Excel.
      </p>
<!-- Present  -->
      <h4 class="blue-text">Present </h4>
      <p class="flow-text"> 
        Recently, I've been working mostly with Angular + Firebase because the combination of responsiveness and data-read-speed is absolutely riddiculous. 
        While Angular is currently my flavor-of-the-month I love diving into new technologies.
      </p>
      <p class="flow-text"> 
          In the past I've worked with vanilla Javascript, Python via Django, full MEAN, and Java via The Spring Framework.  
      </p>

  
    </div>
  </div>

  <!-- img2  -->
  <div id="img2" class="parallax hide-on-med-and-down"></div>
  
  <div class="section white ">
      <div class="row container" >
  
        <h2 class="header " style="text-align:end"> I am: </h2>
        <p class="grey-text text-darken-3 flow-text ">
            Passionate about UX experience and responive design <br>
            Eager to help smaller organizations create a web presence <br>
            Often found watching code demos or code conferences on Youtube <br>
            Convinced that Ycombinator podcasts are the best thing ever <br>
            Dedicated, I love the comraderie of working long hours with a team of passionate people.
        </p>
    </div>
  </div>  

  <!-- img3 -->
  <div id="img3" class="parallax" ></div>



  