
<div class='container' > 
<h1> Projects </h1>

<!-- Slider modal 1-->  
<ul class="collapsible" materialize="collapsible">

  <li>
      <div class="collapsible-header"> 
        <h5 class="projecttitle">
            <a  href="https://github.com/GNouchi/simplewall" target="_blank"><i class="fas fa-code"></i></a>    
          Simple Wall </h5>
        <!-- <i class="material-icons right-align">arrow_drop_down</i> -->
        <i class="fas fa-sort-down right"></i>
      </div>
          
        <div class="collapsible-body">
          <div class="slider" materialize="slider" >
            <ul class="slides">
              <li>
                  <h3 class="light grey-text text-darken-2"> Simple Wall </h3>
                  <p class="light grey-text text-darken-2"> Message application </p> 
                  <img src="assets/images/simplewall_0.png" >           
              </li>
              <li>
                <span class="caption left-align">
                <img class="left-align" src="assets/images/simplewall_1.png"> 
                </span>
              </li>
              <li>
                <span class="caption right-align">
                <img class="left-align" src="assets/images/simplewall_3.png"> 
                </span>
              </li>
              <li>
                <div class="opaque caption center-align ">
                  <a class="white-text" href="https://github.com/GNouchi/gsdproto" target="_blank">
                    <h3 class="flow-text">
                        <i class="fab fa-github white-text fa-2x"></i> Github.com/GNouchi/gsdproto
                      </h3>
                    </a >
                </div>
              </li>
            </ul>
          </div>
      </div>
      </li>


<!-- Slider modal 2-->
<li>
  <div class="collapsible-header"> 
    <h5 class="projecttitle"> 
        <a  href="https://github.com/GNouchi/gsdproto" target="_blank"><i class="fas fa-code"></i></a>    
        GSDProto
    </h5>

    <!-- <i class="material-icons right-align">arrow_drop_down</i> -->
    <i class="fas fa-sort-down right"></i>
  </div>
  
  <div class="collapsible-body">

    <div class="slider" materialize="slider" >
          <ul class="slides">
              <li>
                  <h3 class="light grey-text text-darken-2"> GSDProto  </h3>
                  <p class="light grey-text text-darken-2"> User account template for business sites </p> 
                  <img  src="assets/images/gsdproto_1.png" >           
              </li>
              <li>
                <span class="caption left-align"><img class="left-align" src="assets/images/gsdproto_2.png"> </span>
              </li>
              <li>
                <div class="opaque caption center-align ">
                <a class="white-text" href="https://github.com/GNouchi/simplewall" target="_blank">
                <h3 class="flow-text">
                  <i class="fab fa-github white-text fa-2x"></i> 
                  Github.com/GNouchi/Simplewall
                </h3>
              </a >
              </div>
              </li>
            </ul>
        </div>
      </div>
  </li>

</ul>


  <!-- Current Projects section -->
<div class="currentprojects">
    <h3> Current Projects </h3>
</div>

<!-- Currennt Project 1 -->
  <div class="card ">
    <div class="card-content activator">
        <span class="card-title activator grey-text text-darken-4">
          Ordering App - 
          <em>for a small business</em> 
          <!-- <i class="material-icons right">arrow_drop_down</i> -->
          <i class="fas fa-sort-down right"></i>
        </span>
        <p> <strong>Technologies:</strong> Angular, Firebase, Google Authenticator</p>
    </div>
    <div class="card-reveal green lighten-1 white-text">
        <span class="card-title white-text text-darken-2">Ordering App
        <!-- <i class="material-icons right">arrow_drop_up</i> -->
        <i class="fas fa-sort-up right"></i>
      </span>
      <p> An ordering app for small businesses and fundraisers to be able to take orders and send push notifications when an order status is changed. The app is meant to help organize orderflow and add manpower to organizations that are usually short-staffed.</p>
    </div>
    <div class="card-action">
        <p> <i class="fab fa-github dark-grey-text"></i><a class="grey-text"> Codebase is not available yet. </a></p>
      </div>
  </div>
            
<!-- Current Project 2 -->
<div class="card ">
    <div class="card-content activator ">
        <span class="card-title activator grey-text text-darken-4"> Cooking app - <em>passion project</em> 
          <!-- <i class="material-icons right">arrow_drop_down</i> -->
          <i class="fas fa-sort-down right"></i>
        </span>
        <p> <strong>Technologies:</strong> Angular/React (tbd), Firebase, Twitter Api, Youtube Api, Facebook auth</p>
    </div>
    <div class="card-reveal green lighten-1 white-text">
      <span class="card-title white-text text-darken-2"> Cooking App
        <!-- <i class="material-icons right">arrow_drop_up</i> -->
        <i class="fas fa-sort-up right"></i>
      </span>
      <p> 
        This app will allow users to share and view recipes through existing social networks. The app is still in the planning stages, users will be able to perform typical CRUD operations as well as create and modify their own copies of others' recipes to provide their own flare.
      </p>
    </div>
    <div class="card-action ">
        <p> <i class="fab fa-github dark-grey-text "></i><a class="grey-text"> Codebase is not available yet. </a></p>
      </div>
  </div>

    
    
</div>